body{
    font-family: 'Inter', sans-serif;
}

div.logo {
    width: 23%;
    padding: 1%;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 45%;
    float: right;

}
ul:{
    width: 50%;
    margin-left: auto;
}
div.logo {
    text-align: center;
}

div.content {
    width: 500px;
    margin: 0 auto;
    padding; 20px;
    padding-top:  0;
    font-family: 'Inter', sans-serif;
    margin; 0 auto;
    
}

img.profile {
    margin: auto;
    width: 90%;

}

p.paragraph {
    margin: auto;
    width: 100%;
}
footer{
    background-color: #373738;
    height: 200px;
    color: white;
}
li {
    display: inline-block;
    font-size: 20 px;
    padding: 20px;
}
.center {
    background: #73C0DA;
    color: #fff;
    font-family:'Inter', sans-serif;
    display: block;
    width: 140 px;
    font-size: 24 px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    
   
}


-ms-transform: translate(75%, 75%);
transform: translate(75%, 75%);